**/**/.DS_Store
.DS_Store
target
bin
*.swp
xsharp/target/*
compiler/target/*
cloud-metering-xrm-rest-client/target/*
vim/target/*
osgi/target/*
jxrm/target/*
admin-backend/target/*
runtimelibs/target/*
xsharp/.classpath
xsharp/jxl.log
xsharp/src/main/accounts/localhost/xsp/WEB-INF/sql-config.xml
xsharp/src/main/accounts/localhost/xsp/WEB-INF/print-templates
compiler/.classpath
vim/.classpath
osgi/.classpath
system-tests/.classpath
admin-backend/.classpath
*/.classpath
*/.project
*~
